// common styles
.book-wrap .upgrade-room-holder .uproom-ri p, .book-wrap .upgrade-room-holder .uproom-ri .uproom-button, .reserv-block .reserv-title .view-more, .reserv-block .fl-l, .reserv-block strong + p, .btn-step-3-complete, .form-block input[type="text"], .form-block .row.checkboxes label, .form-block select, .form-block .hoshi h2, .form-block label, .b-step2-ul .extra-descr .info, .b-step2-ul .extra-descr .left .title, .btn-rates, .btn-book, .b-step2-ul .extra-list, .reserv-block .promo-wrap, .book-wrap .calendar-wrap .legend, .booking-step-1-complete, .calendar-month td {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.add-button {
  height: 34px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  border: 0;
  -webkit-appearance: none;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #2d6c66;
  color: #ffffff;
  white-space: nowrap;
}

.close-button {
  background: url("assets/icons/close-button.png") no-repeat center;
  width: 27px;
  height: 27px;
  display: block;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
}

.date-select {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #787878;
  font-weight: 300;
  box-sizing: border-box;
  height: 35px;
  padding: 0 0 16px;
  background-image: url(assets/sel-ar.png);
  background-position: right 4px;
  background-repeat: no-repeat;
  line-height: 1.35;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none !important;
  background-size: inherit;
  border-bottom: 1px solid #CFCFCE;
  text-transform: uppercase;
}

//component styles
.enhance-stay-block {

  &__heading {
    @media screen and (max-width: 576px) {
      padding: 0 20px;
    }

    &--content-expanded {
      @media screen and (max-width: 576px) {
        h2:after {
          transform: rotate(180deg);
        }
      }
    }

    h2 {
      position: relative;
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: 29px;
      margin-top: 10px;
      @media screen and (max-width: 576px) {
        &:after {
          width: 15px;
          content: "";
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          background-image: url(assets/sel-ar.png);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &__list {
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    margin: 0 0 15px 0;
    padding: 0;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      border: 1px solid #CFCFCE;
      border-top: 0;
    }
  }
  &__item {
    margin-right: 10px;
    flex: 1 1 20%;

    @media screen and (max-width: 576px) {
      margin-right: 0;
      border-top: 1px solid #CFCFCE;
    }

    &_image-container {
      min-width: 185px;
      width: 100%;
      height: 185px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @media screen and (max-width: 768px) {
        min-width: 133px;
        height: 133px;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }
    }

    &_heading {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 576px) {
        padding: 15px 20px;
        background-color: #F1F1F1;
      }
    }
    &_label {
      position: absolute;
      bottom: 10px;
      left: 10px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 500;
      line-height: 19px;
      text-align: left;
      text-decoration: none;
      letter-spacing: 0;

      @media screen and (max-width: 576px) {
        position: static;
        color: #3C3C3C;
        font-size: 22px;
        line-height: 29px;
        font-weight: 400;
        text-transform: capitalize;
      }

      &--content {
        color: #3c3c3c;
        font-size: 22px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
      }
    }
    &--last {
      margin-right: 0;
    }
    &_content {
      position: relative;
      box-shadow: 10px 10px 4px 0px rgba(100,100,100,0.5);
      border: 1px solid #CFCFCE;
      background-color: #F1F1F1;
      padding: 15px;

      &--inner {
        display: none;
        border: 0;
        box-shadow: none;

        @media screen and (max-width: 576px) {
          display: block;
          padding: 0 20px 20px;
        }
      }

      &--outer {
        &:before {
          content: "";
          position: absolute;
          top: -24px;
          left: 90px;
          border-width: 12px 12px 12px 12px;
          border-style: solid;
          border-color: transparent transparent #F1F1F1 transparent;
        }
        @media screen and (max-width: 576px) {
          display: none;
        }
      }

      &--0 {
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      &--1 {
        padding: 0;
        display: flex;
        flex-direction: column;
        max-width: 380px;
      }

      &--2 {
        padding: 0;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 576px) {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    &_close-btn {
      display: none;
      position: absolute;
      top: 15px;
      right: 20px;

      &--outer {
        display: inline;
      }

      @media screen and (max-width: 576px) {
        &--content-expanded {
          display: block;
        }
      }
    }

    &_add-btn {
      max-width: 140px;

      &--heading {
        display: none;
      }
      @media screen and (max-width: 576px) {
        &--heading {
          display: block;
        }
        &--content-expanded {
          display: none;
        }
      }
    }
  }
  &__price {
    font-size: 22px;
  }
}